fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
jinja2==3.1.2
aiofiles==23.2.1
psycopg2-binary==2.9.7
reportlab==4.0.4
SQLAlchemy==2.0.21
python-dotenv==1.0.0
typing_extensions==4.8.0
greenlet==2.0.2
pydantic==2.9.2
pydantic-core==2.23.4
starlette==0.27.0
celery==5.3.4
redis==5.0.1
